// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "characters.scss";
@import "cards";

body {

  color: #00DBEE;
  font-family: monospace;
  background-image: radial-gradient(circle, #012638 25%, #00080B 100%);
}

h1 {
  font-family: monospace;
  color: white;
}

a {
  color: #00DBEE;
}

.container {
  margin-top: 40px;
}


.image img {
   object-fit: cover;

}

.card-image {

  background-size: cover;
}
